<div class="card">
  <h2 class="title">✏️ Modifier Réservation</h2>

  <div class="form-grid">

    <div>
      <label class="label">Nom / Détails</label>
      <input [(ngModel)]="details" class="input" />
    </div>

    <div class="row">
      <div class="flex">
        <label class="label">Date Début</label>
        <input [(ngModel)]="date" type="date" class="input" />
      </div>

      <div class="flex">
        <label class="label">Date Fin</label>
        <input [(ngModel)]="endDate" type="date" class="input" />
      </div>
    </div>

    <div class="row">
      <div class="flex">
        <label class="label">Heure</label>
        <input [(ngModel)]="time" type="time" class="input" />
      </div>

      <div class="flex">
        <label class="label">Personnes</label>
        <input [(ngModel)]="persons" type="number" min="1" class="input" />
      </div>
    </div>

    <div class="row">
      <div class="flex">
        <label class="label">Téléphone</label>
        <input [(ngModel)]="phone" type="tel" class="input" />
      </div>

      <div class="flex">
        <label class="label">Status</label>
        <select [(ngModel)]="status" class="input select">
          <option value="pending">En attente</option>
          <option value="confirmed">Confirmé</option>
          <option value="cancelled">Annulé</option>
        </select>
      </div>
    </div>

    <div class="buttons">
      <button routerLink="/bookings" class="btn cancel">
        Annuler
      </button>

      <button (click)="save()" class="btn save">
        Sauvegarder
      </button>
    </div>

  </div>
</div>